<% @page_type ||= 'article' %>
<div class="article">
  <div class="header">
    <h2><a href="<%= article.url %>" rel="bookmark" title="Permanent Link to <%= article.title %>"><%= article.title %></a></h2>
    <div class="meta">
      <span class="author">by <%= article.author %></span>
      <span class="date"><%= article.date %></span>
    </div>        
  </div>
  <div>
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
        <span class="right date"><a href="<%= article.url %>">read on...</a></span>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
    <% end %>
  </div>
  <div class="footer">
    <p>from <a href="/categories/<%= article.category %>"><%= article.category %></a></p>
  </div>
  <% unless summary_only %>
    <% if article['disqus_url'] %>
    <script type="text/javascript">  var disqus_url = '<%= article['disqus_url'] %>'; </script> 
    <% end %>
    <%= render_partial :disqus if Serious.disqus %>
  <% end %>
</div>