<% @page_type ||= 'article' %>
<article class="article">
  <header>
    <h2><a href="<%= article.url %>" rel="bookmark" title="Permanent Link to <%= article.title %>"><%= article.title %></a></h2>
    <div class="meta">
      <span class="author">by <%= article.author %></span>
      <span class="date"><%= article.date %></span>
    </div>        
  </header>
  <section class="content">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
        <span class="right date"><a href="<%= article.url %>">read on...</a></span>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
    <% end %>
  </section>
  <footer>
    <p>from <a href="/articles">Articles</a></p>
  </footer>
  <% unless summary_only %>
    <%= render_partial :disqus if Serious.disqus %>
  <% end %>
</article>