<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css"> 
    <link rel="stylesheet" type="text/css" href="/css/grid.css">   
    <link rel="alternate" type="application/atom+xml" title="<%= Serious.title %>" href="<%= Serious.feed_url %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= @article ? @article.title + " - " : "" %><%= Serious.title %></title>
  </head>
  <body id="<%= @page_type if @page_type %>">
  <div id="wrapper" class="row">
    <div id="header" class="row clear">
      <div id="tagline" class="column grid_8">
        <h1 id="title"><a href="/">Sideline</a></h1>
      <% unless @page_type == 'home' %>
        <h2><%= Serious.tagline %></h2>
      <% end %>
      </div>
      <div id="nav" class="column grid_4">
        <ul>
          <li class="home"><a href="/">Home</a></li>
          <li class="articles"><a href="/articles">Articles</a></li>
          <li class="archives"><a href="/archives">Archives</a></li>
          <li class="about"><a href="/pages/about">About</a></li>
        </ul>
      </div>
    </div>
    <% if @page_type == 'home' %>
      <div id="content" class="row">  
        <div class="column grid_12">
          <%= yield %> 
        </div>      
      </div>
    <% else %>
      <div class="row">
        <div id="content" class="column grid_8">  
          <div>
            <%= render_partial :site_description if %w(articles archives).include? @page_type %>
            <%= yield %> 
          </div>      
        </div>
        <%= render_partial :sidebar %>
      </div>
    <% end %>
    <div id="footer" class="row">
      <p class="column grid_8">Site design based on <a href="http://thethemefoundry.com/vigilance/">Vigilance Theme</a> by <a href="http://thethemefoundry.com">The Theme Foundry</a>. This blog is <a href="http://github.com/colszowka/serious">serious</a>.</p>
      <p class="column grid_4 copyright">Copyright <%= year_range(2003) %> Sideline Consulting Inc.</p>
    </div>  
    <%= render_partial :google_analytics if Serious.google_analytics %>   
  </body>
</html>